.page{
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box {
    height: 90%;
    width: 80%;
    background-color: white;
    border-color: rgb(19, 123, 184);
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ticketInput {
    padding: 0px;
    width: 400%;
    position: center;    
}

.buttons {
    margin: 10px;
    padding: 30px;
}
